

/* 固定幅と中央揃えの設定 */
.container {
    width: 1280px; /* 固定幅 */
    margin: 0 auto;
  }
  
  /* ヘッダーの固定 */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ccc;
    padding: 10px;
    z-index: 1000;
  }
  
  .header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  .header li a {
    text-decoration: none;
    color: black;
  }

  .top h1 {
    text-align: center;
    font-size: 80px;
  }

  .top div {
    text-align: center;
  }
  .profile-text, .profile-img {
    display: inline-block;
    vertical-align: middle;
  }

  .profile-text{
    font-size: 40px;
  }
  
  .profile-img{
    text-align: right;
  }

  /* セクションの基本スタイル */
  .section {
    padding: 30px 0px;
    margin-top: 60px; /* ヘッダーの高さ分余白を確保 */
  }

  .section h2{
    font-size: 60px;
  }
  
  .about, .works {
    background-color: #fff;
  }
  
  .top, .skill {
    background-color: #dcdcdc;
  }
  
  /* スキルのアイコン表示 */
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
  }
  
  .skill-item {
    background-color: #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* 作品の画像表示 */
  .works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .work-item {
    background-color: #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  /* フッター */
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #ccc;
  }
  
